<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>

  <!-- <ul class="nav nav-pills col-md-4">
    <li><a href="https://github.com/projectblacklight/blacklight/">Github</a></li>
    <li><a href="https://github.com/projectblacklight/blacklight/wiki">Wiki</a></li>
    <li><a href="https://github.com/projectblacklight/blacklight/releases/tag/v<%= Blacklight::VERSION %>">Release Notes</a></li>
  </ul> -->

</div>

<div id="getting-started">
  <!-- <h3 class='section-heading'>Here&rsquo;s how to get started:</h3> -->
  <p>
    CLIR is working with The Antiquities Coalition and other institutions in the United States and abroad to explore the feasibility and technical prototyping of a Digital Library of the Middle East (DLME). The DLME would create a digitally based, internationally shared inventory of cultural artifacts that includes detailed descriptions and images, and confirms objects’ ownership and legal status. This information would help determine whether an item of cultural or historical significance offered for sale or being transferred was acquired legally. Images and brief descriptions from the DLME could be made publicly available to encourage greater understanding of the region's cultural legacy and respect for the importance of the cultural commonwealth, while helping to safeguard a fundamentally important expression of our humanity.
  </p>


</div>
